Package: com.mtac.lockcharge
Name: LockCharge
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: MTAC
Author: MTAC
Section: Tweaks
