Package: com.mtac.lockcharge
Name: LockCharge
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Check if your device is charging easily from your lockscreen
Maintainer: MTAC
Author: MTAC
Section: Tweaks
